<div class="modal fade show" tabindex="-1" style="display: block;" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-fit-content">
        <div class="modal-content">
            <div class="modal-body" style="text-align: justify">
                <h5>
                About the Developer and Application
                </h5>
                This POS application page was designed using Angular 19 as part of a full-featured Point of Sale system. Although the current version operates with hard-coded data and is not yet connected to a backend API, it demonstrates the core structure and interface of the planned application.
                <br>
                <br>
                I am an aspiring .NET and Angular developer with a strong passion for building modern, responsive web applications. This project reflects my ongoing journey to master full-stack development, combining powerful frontend technologies like Angular with robust backend frameworks such as .NET.
                <br>
                <br>
                LinkedIn Profile: <a href="https://www.linkedin.com/in/nabeelnaeem058/" target="_blank">/nabeelnaeem058</a>
                Git : <a href="https://github.com/nabeelnaeem/" target="_blank">/nabeelnaeem</a>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" (click)="close.emit()">Close</button>
            </div>
        </div>
    <div class="modal-backdrop fade show z-n1"></div>
    </div>
</div>
