<div class="position-relative">
    <input type="text" [placeholder]="placeholderText" class="form-control" [(ngModel)]="searchText"
        (input)="searching()" (click)="searching()">
    @if (matchedProduct.length>0) {
    <ul class=" list-group position-absolute w-100 z-1">
        @for (item of matchedProduct; track item; let i= $index) {
        <li class="list-group-item hover-active opacity-85" (click)="onProductSelect(item)">{{item.name}} -
            {{item.barcode}} - {{item.id}}</li>
        }
    </ul>
    }
</div>