.receipt {
    width: 80mm;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    padding: 5px;
    color: #000;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
}

hr {
    border: none;
    border-top: 1px dashed black;
    margin: 8px 0;
}

.total {
    font-weight: bold;
}

.modal-fit-content {
    display: table;
    /* Shrink to fit content */
    margin: 0 auto;
    /* Horizontal centering */
}

.modal-fit-content.modal-dialog-centered {
    display: table;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}

.modal-fit-content .modal-content {
    width: auto;
}

#print-section {
    width: 80mm;
    padding: 5mm;
    box-sizing: border-box;
    font-family: monospace, Arial, sans-serif;
}

@media print {
    body {
        margin: 0;
    }

    body * {
        visibility: hidden;
    }

    #print-section,
    #print-section * {
        visibility: visible;
    }

    #print-section {
        width: 80mm;
        padding: 5mm;
        box-sizing: border-box;
        font-family: monospace, Arial, sans-serif;
    }
}